<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biweeklybudget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".helpAddWeekly"></activity>
        <activity android:name=".helpAddBill" />
        <activity android:name=".viewsHelp" />
        <activity android:name=".AllHelpActivity" />
        <activity android:name=".helpMainActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".AddWeekly" />
        <activity android:name=".weeklyAdapter" />
        <activity android:name=".WeeklyExpenses" />
        <activity android:name=".upAfter" />
        <activity android:name=".AddToList" />
        <activity android:name=".viewAll" />
        <activity android:name=".upNext" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>